name: "Test"
run-name: "Test"
on:
  - push

jobs:
  test:
    name: Test module
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        name: Checkout repository

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.26'
          go-version-file: 'go.mod'

      - name: Run Test
        run: |
          go test -v ./... -covermode=count -coverprofile=coverage.out
          go tool cover -func=coverage.out -o=coverage.out
      
      - name: Go Coverage Badge  # Pass the `coverage.out` output to this action
        uses: tj-actions/coverage-badge-go@v3
        with:
          filename: coverage.out
